/* 
  Styling for the CustomHeading component
*/

.custom-heading {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  padding: 1rem 2rem;
  z-index: 1;
  width: 80%;
  font-size: calc(18px + (32 - 18) * (100vw - 360px) / (1200 - 360));
  /* min font-size: 18px */
  /* max font-size: 32px */
  /* min vw: 360px */
  /* max vw: 1200px */
  max-width: 500px;
}
