.scoreboard-highscore-container {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem 4rem;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-container * {
  margin: 0;
}

.board-value {
  font-size: 2.5rem;
  font-weight: bold;
}

.board-heading {
  font-size: 1.2rem;
  font-weight: normal;
}

/* make font sizes smaller on smaller screens */
@media (max-width: 600px) {
  .scoreboard-highscore-container {
    margin: 1rem 2rem;
  }
  .board-value {
    font-size: 1.5rem;
  }
  .board-heading {
    font-size: 0.8rem;
  }
}
