.image-side-container {
  position: relative;
  width: 50vw;
  height: 100vh;
}

.image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  background-repeat: no-repeat;
  background-size: cover;
}

.side-image {
  width: 50%;
  height: 100vh;
  object-fit: cover;
}

.left {
  float: left;
}

.right {
  float: right;
}

.description-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}

.description-container h2 {
  color: white;
  font-size: 3rem;
  font-size: 6vh;
  margin: 1rem;
}

.description-container h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  font-size: 18px;
}

.description-container h3 .num-of-searches {
  font-weight: 700;
  font-size: 8.5vh;
}

.opponent-name {
  font-weight: bold;
}

.description-container h4 {
  font-weight: 400;
}
